n8n/native-workflow.json
{
  "name": "Comic Generator — native",
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "nodes": [
    {
      "id": "form-trigger",
      "name": "Run with choices",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.3,
      "position": [0, 200],
      "webhookId": "3f7a1c2e-9b4d-4e6f-8a2b-5c1d7e9f0a3b",
      "parameters": {
        "path": "comic-run",
        "formTitle": "Comic Generator",
        "formDescription": "Generate a comic reel and upload it to TikTok drafts. Pick a style and mode, or leave on Random.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Style",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  { "option": "Random" },
                  { "option": "dylan-dog" },
                  { "option": "enki-bilal" },
                  { "option": "hugo-pratt" },
                  { "option": "magnus" },
                  { "option": "manga" },
                  { "option": "milo-manara" }
                ]
              }
            },
            {
              "fieldLabel": "Mode",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  { "option": "Random" },
                  { "option": "noir" },
                  { "option": "fun" },
                  { "option": "sensual" }
                ]
              }
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "pick-style-mode",
      "name": "Pick style & mode",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [180, 300],
      "parameters": {
        "jsCode": "// Form runs: use the chosen dropdown values ('Random' falls through).\n// Scheduled runs: no Style/Mode keys on the input -> fully random.\nconst STYLES = ['dylan-dog', 'enki-bilal', 'hugo-pratt', 'magnus', 'manga', 'milo-manara'];\nconst MODES = ['noir', 'fun', 'sensual'];\nconst pick = (arr) => arr[Math.floor(Math.random() * arr.length)];\nconst inStyle = String($json.Style || '').toLowerCase();\nconst inMode = String($json.Mode || '').toLowerCase();\nconst style = STYLES.includes(inStyle) ? inStyle : pick(STYLES);\nconst mode = MODES.includes(inMode) ? inMode : pick(MODES);\nreturn [{ json: { style, mode } }];"
      }
    },
    {
      "id": "read-style-file",
      "name": "Read style file",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [360, 300],
      "parameters": {
        "command": "=cat '/project/Styles/{{ $json.style }}.md'"
      }
    },
    {
      "id": "schedule-trigger",
      "name": "Daily 19:00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 400],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "days",
              "triggerAtHour": 19
            }
          ]
        }
      }
    },
    {
      "id": "init-run",
      "name": "Init run",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [220, 300],
      "parameters": {
        "jsCode": "// Assemble all run config from the chosen style's Styles/<name>.md (read by\n// the previous node, same source of truth as the Python CLI) and the chosen\n// mode (noir | fun | sensual). Models/pacing are set at the bottom.\nconst md = $json.stdout;\nconst { style, mode } = $('Pick style & mode').first().json;\n\nfunction allBlocks(text, heading) {\n  const esc = heading.replace(/[.*+?^${}()|[\\]\\\\]/g, '\\\\$&');\n  const m = text.match(new RegExp('^## ' + esc + '\\\\s*$', 'm'));\n  if (!m) return [];\n  const after = text.slice(m.index + m[0].length);\n  const next = after.search(/^## /m);\n  const section = next === -1 ? after : after.slice(0, next);\n  return [...section.matchAll(/```[^\\n]*\\n([\\s\\S]*?)```/g)].map((x) => x[1].trim());\n}\nconst firstBlock = (h) => allBlocks(md, h)[0] || '';\n\nconst imageSuffix = allBlocks(md, 'Image Prompt Suffix').join(' ');\nif (!imageSuffix) throw new Error(`No Image Prompt Suffix found in Styles/${style}.md`);\n\nconst basePersona = firstBlock('Plot System Prompt') || 'You are a comic book director.';\nconst plotPersona =\n  mode === 'fun' ? (firstBlock('Fun Plot System Prompt') || basePersona)\n  : mode === 'sensual' ? (firstBlock('Sensual Plot System Prompt') || basePersona)\n  : basePersona;\n\nconst sceneHint =\n  mode === 'fun' ? ' Lean into visual comedy: exaggerated expressions, absurd props, comedic timing.'\n  : mode === 'sensual' ? ' Lean into sensual tension: elegance, intimate atmosphere, charged body language — tasteful and suggestive, never explicit.'\n  : '';\nconst scenePersona = (firstBlock('Scene System Prompt') || 'You are a comic book artist.') + sceneHint;\n\nconst ideaSystems = {\n  noir: 'You invent premises for one-page horror/noir comics — gothic, melancholic, monsters as metaphors for grief and loss. Respond with exactly ONE original story premise as a single sentence. No quotes, no preamble, no explanation.',\n  fun: 'You invent premises for one-page absurdist comedy comics — ridiculous situations, escalating chaos, genre tropes turned into punchlines. Respond with exactly ONE original story premise as a single sentence. No quotes, no preamble, no explanation.',\n  sensual: 'You invent premises for one-page sensual romance comics — desire, longing, intimate tension between two people; tasteful and suggestive, never explicit. Respond with exactly ONE original story premise as a single sentence. No quotes, no preamble, no explanation.',\n};\n\nconst plotStructure =\n  '\\nRespond ONLY with a single compact JSON object — no markdown fences, no explanation.\\n' +\n  'The JSON must have exactly these fields:\\n' +\n  '{\"title\": \"short punchy story title\", \"tagline\": \"one sentence — the hook\", \"panel_count\": <integer 4-12>, \"beats\": [{\"index\": 0, \"beat\": \"one short sentence describing what happens in this scene\"}, ...]}\\n' +\n  'beats must have exactly panel_count items, indexed 0 to panel_count-1. Each beat is ONE short sentence.';\n\n// Simpler schema for the small local model: beats as a flat string array —\n// nested objects overwhelm 3B-class models.\nconst plotStructureLocal =\n  '\\nRespond ONLY with a single compact JSON object — no markdown fences, no explanation, no extra text.\\n' +\n  '{\"title\": \"short punchy story title\", \"tagline\": \"one sentence — the hook\", \"beats\": [\"one short sentence for scene 1\", \"one short sentence for scene 2\", ...]}\\n' +\n  'beats must be an array of 4 to 12 strings. Each beat is ONE short sentence. Do not number the beats.';\n\nconst sceneStructure =\n  '\\nRespond ONLY with compact JSON, no markdown fences:\\n' +\n  '{\"caption\": \"one short atmospheric narration sentence\", \"dialogue\": \"one short spoken line, or empty string if none\", \"image_prompt\": \"visual scene description under 50 words — focus on setting, lighting, character expression, and mood. Avoid explicit violence; convey tension atmospherically.\"}';\n\nconst musicMoods = {\n  'dylan-dog': 'dark horror noir, slow suspenseful strings, ominous piano, cinematic dread',\n  'hugo-pratt': 'mediterranean adventure jazz, nostalgic brass, old film score, melancholic',\n  'magnus': 'dark thriller, pulsing low strings, noir detective atmosphere, brooding',\n  'manga': 'anime action score, intense orchestral, dramatic taiko drums, energetic',\n  'enki-bilal': 'sci-fi dystopia, cold electronic ambiance, eerie synthesizers, haunting',\n  'milo-manara': 'romantic European cinema, sensual strings, Italian 70s film score, lush',\n};\nconst moodMod =\n  mode === 'fun' ? ', playful, whimsical, lighthearted'\n  : mode === 'sensual' ? ', sultry, smooth, intimate'\n  : '';\nconst musicMood = (musicMoods[style] || 'cinematic atmospheric, evocative, instrumental, dramatic') + moodMod;\n\nconst now = new Date();\nconst pad = (n) => String(n).padStart(2, '0');\nconst runid = `${now.getFullYear()}${pad(now.getMonth() + 1)}${pad(now.getDate())}-${pad(now.getHours())}${pad(now.getMinutes())}${pad(now.getSeconds())}`;\n\nreturn [{ json: {\n  runid,\n  style,\n  mode,\n  dir: `/project/output/n8n/run-${runid}`,\n  panelSeconds: 3,\n  model: 'claude-sonnet-4-6',\n  imageModel: 'fal-ai/bytedance/seedream/v4/text-to-image',\n  imageSize: 'square_hd',\n  musicModel: 'fal-ai/stable-audio-3/medium/text-to-audio',\n  imageSuffix,\n  ideaSystem: ideaSystems[mode] || ideaSystems.noir,\n  plotSystem: plotPersona + plotStructure,\n  plotSystemLocal: plotPersona + plotStructureLocal,\n  sceneSystem: scenePersona + sceneStructure,\n  musicMood,\n} }];"
      }
    },
    {
      "id": "make-run-dir",
      "name": "Make run dir",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [420, 300],
      "parameters": {
        "command": "=mkdir -p '{{ $json.dir }}'"
      }
    },
    {
      "id": "invent-idea-local",
      "name": "Invent idea (local)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [620, 200],
      "onError": "continueErrorOutput",
      "parameters": {
        "method": "POST",
        "url": "={{ ($env.IDEA_LLM_URL || 'http://model-runner.docker.internal/engines/v1').replace(/\\/+$/, '') + '/chat/completions' }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: $env.IDEA_LLM_MODEL || 'ai/llama3.2', max_tokens: 150, temperature: 1, messages: [{ role: 'system', content: $('Init run').first().json.ideaSystem }, { role: 'user', content: 'Invent a fresh premise. Avoid clichés. Run seed: ' + $('Init run').first().json.runid }] }) }}",
        "options": {
          "timeout": 90000
        }
      }
    },
    {
      "id": "invent-idea",
      "name": "Invent idea (Claude)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [620, 420],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 3000,
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-api-key", "value": "={{ $env.ANTHROPIC_API_KEY }}" },
            { "name": "anthropic-version", "value": "2023-06-01" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: $('Init run').first().json.model, max_tokens: 150, temperature: 1, system: $('Init run').first().json.ideaSystem, messages: [{ role: 'user', content: 'Invent a fresh premise. Avoid clichés. Run seed: ' + $('Init run').first().json.runid }] }) }}",
        "options": {
          "timeout": 60000
        }
      }
    },
    {
      "id": "extract-idea",
      "name": "Extract idea",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [820, 300],
      "parameters": {
        "jsCode": "// Accepts both response shapes: local OpenAI-compatible (choices[0].message.content)\n// and Anthropic (content[0].text).\nconst j = $json;\nconst raw = (j.choices && j.choices[0] && j.choices[0].message && j.choices[0].message.content)\n  || (j.content && j.content[0] && j.content[0].text)\n  || '';\nconst idea = raw.trim().replace(/^[\"']|[\"']$/g, '');\nif (!idea) throw new Error('Model returned an empty idea');\nreturn [{ json: { idea } }];"
      }
    },
    {
      "id": "plot-local",
      "name": "Plot (local)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1020, 200],
      "onError": "continueErrorOutput",
      "parameters": {
        "method": "POST",
        "url": "={{ ($env.IDEA_LLM_URL || 'http://model-runner.docker.internal/engines/v1').replace(/\\/+$/, '') + '/chat/completions' }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: $env.IDEA_LLM_MODEL || 'ai/llama3.2', max_tokens: 1500, response_format: { type: 'json_object' }, messages: [{ role: 'system', content: $('Init run').first().json.plotSystemLocal }, { role: 'user', content: 'Story idea:\\n' + $json.idea + '\\n\\nUse between 4 and 12 beats to best fit the story pacing.' }] }) }}",
        "options": {
          "timeout": 120000
        }
      }
    },
    {
      "id": "try-local-plot",
      "name": "Try local plot",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1160, 200],
      "onError": "continueErrorOutput",
      "parameters": {
        "jsCode": "// Parse + repair the local model's plot; any failure routes this item to\n// the Claude plot node via the error output. Small models produce JSON with\n// `0: \"...\"` array entries, truncated tails, and trailing commas — repaired here.\nconst j = $json;\nconst raw = (j.choices && j.choices[0] && j.choices[0].message && j.choices[0].message.content) || '';\nconst clean = raw.replace(/```(?:json)?|```/g, '').trim();\n\nfunction extractJson(text) {\n  const startIdx = text.indexOf('{');\n  if (startIdx === -1) throw new Error('no JSON object in local plot response');\n  // `[0: \"x\", 1: \"y\"]` -> `[\"x\", \"y\"]`\n  let s = text.slice(startIdx).replace(/([\\[,]\\s*)\\d+\\s*:\\s*\"/g, '$1\"');\n  // find the balanced end of the root object, fixing mismatched closers\n  // (`]` for `}` and vice versa) along the way; if truncated, close what's open\n  let inStr = false, esc = false, end = -1;\n  const stack = [];\n  const out = s.split('');\n  for (let i = 0; i < out.length; i++) {\n    const ch = out[i];\n    if (esc) { esc = false; continue; }\n    if (ch === '\\\\') { esc = inStr; continue; }\n    if (ch === '\"') { inStr = !inStr; continue; }\n    if (!inStr) {\n      if (ch === '{' || ch === '[') stack.push(ch);\n      else if (ch === '}' || ch === ']') {\n        const open = stack.pop();\n        if (open === '[' && ch === '}') out[i] = ']';\n        else if (open === '{' && ch === ']') out[i] = '}';\n        if (stack.length === 0) { end = i; break; }\n      }\n    }\n  }\n  s = out.join('');\n  if (end !== -1) {\n    s = s.slice(0, end + 1);\n  } else {\n    if (inStr) s += '\"';\n    while (stack.length) s += stack.pop() === '{' ? '}' : ']';\n  }\n  s = s.replace(/,\\s*([\\]}])/g, '$1');\n  return JSON.parse(s);\n}\n\nconst plot = extractJson(clean);\nif (!plot.title) throw new Error('local plot has no title');\nlet beats = plot.beats;\nif (beats && !Array.isArray(beats) && typeof beats === 'object') beats = Object.values(beats);\nif (!Array.isArray(beats)) throw new Error('local plot has no beats array');\nbeats = beats\n  .map((b, i) => ({ index: i, beat: typeof b === 'string' ? b : (b && b.beat) || '' }))\n  .filter((b) => b.beat.trim().length > 0);\nif (beats.length > 12) beats = beats.slice(0, 12);\nif (beats.length < 4) throw new Error(`only ${beats.length} usable beats`);\nbeats = beats.map((b, i) => ({ index: i, beat: b.beat }));\nreturn [{ json: { title: plot.title, tagline: plot.tagline || '', panel_count: beats.length, beats } }];"
      }
    },
    {
      "id": "plot",
      "name": "Plot (Claude)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1020, 420],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 3000,
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-api-key", "value": "={{ $env.ANTHROPIC_API_KEY }}" },
            { "name": "anthropic-version", "value": "2023-06-01" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: $('Init run').first().json.model, max_tokens: 1500, system: $('Init run').first().json.plotSystem, messages: [{ role: 'user', content: 'Story idea:\\n' + $('Extract idea').first().json.idea + '\\n\\nChoose panel_count as an integer between 4 and 12 to best fit the story pacing.' }] }) }}",
        "options": {
          "timeout": 120000
        }
      }
    },
    {
      "id": "parse-plot",
      "name": "Parse plot",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1220, 300],
      "parameters": {
        "jsCode": "const init = $('Init run').first().json;\nconst idea = $('Extract idea').first().json.idea;\n// Input is either a pre-parsed plot (from 'Try local plot') or a raw\n// Anthropic response (from 'Plot (Claude)').\nlet plot;\nif (Array.isArray($json.beats)) {\n  plot = $json;\n} else {\n  const raw = ($json.content && $json.content[0] && $json.content[0].text) || '';\n  const clean = raw.replace(/```(?:json)?|```/g, '').trim();\n  const start = clean.indexOf('{');\n  const end = clean.lastIndexOf('}');\n  if (start === -1 || end <= start) throw new Error('no JSON object in plot response');\n  plot = JSON.parse(clean.slice(start, end + 1));\n}\nif (!Array.isArray(plot.beats) || plot.beats.length === 0) throw new Error('plot has no beats array');\nlet n = Number(plot.panel_count);\n// Small local models sometimes miscount; trust the beats array when in range.\nif (plot.beats.length !== n && plot.beats.length >= 4 && plot.beats.length <= 12) n = plot.beats.length;\nif (!(n >= 4 && n <= 12)) throw new Error(`panel_count ${n} outside 4-12`);\nif (plot.beats.length !== n) throw new Error(`beats count ${plot.beats.length} != panel_count ${n}`);\nif (!plot.title) throw new Error('plot has no title');\nreturn [{ json: { ...init, idea, title: plot.title, tagline: plot.tagline || '', panel_count: n, beats: plot.beats.slice(0, n) } }];"
      }
    },
    {
      "id": "split-beats",
      "name": "Split beats",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1440, 160],
      "parameters": {
        "jsCode": "const p = $json;\nreturn p.beats.map((b, i) => ({ json: {\n  dir: p.dir,\n  index: (b.index === undefined || b.index === null) ? i : b.index,\n  beat: b.beat,\n  title: p.title,\n  tagline: p.tagline,\n  panel_count: p.panel_count,\n} }));"
      }
    },
    {
      "id": "scene-text-local",
      "name": "Scene text (local)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1640, 60],
      "onError": "continueErrorOutput",
      "parameters": {
        "method": "POST",
        "url": "={{ ($env.IDEA_LLM_URL || 'http://model-runner.docker.internal/engines/v1').replace(/\\/+$/, '') + '/chat/completions' }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: $env.IDEA_LLM_MODEL || 'ai/llama3.2', max_tokens: 500, response_format: { type: 'json_object' }, messages: [{ role: 'system', content: $('Init run').first().json.sceneSystem }, { role: 'user', content: 'Story: \"' + $json.title + '\" — ' + $json.tagline + '\\nScene ' + ($json.index + 1) + ' of ' + $json.panel_count + ': ' + $json.beat }] }) }}",
        "options": {
          "timeout": 120000,
          "batching": {
            "batch": {
              "batchSize": 2,
              "batchInterval": 500
            }
          }
        }
      }
    },
    {
      "id": "scene-text",
      "name": "Scene text (Claude)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1640, 280],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 3000,
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-api-key", "value": "={{ $env.ANTHROPIC_API_KEY }}" },
            { "name": "anthropic-version", "value": "2023-06-01" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: $('Init run').first().json.model, max_tokens: 500, system: $('Init run').first().json.sceneSystem, messages: [{ role: 'user', content: 'Story: \"' + $('Split beats').item.json.title + '\" — ' + $('Split beats').item.json.tagline + '\\nScene ' + ($('Split beats').item.json.index + 1) + ' of ' + $('Split beats').item.json.panel_count + ': ' + $('Split beats').item.json.beat }] }) }}",
        "options": {
          "timeout": 120000,
          "batching": {
            "batch": {
              "batchSize": 4,
              "batchInterval": 1000
            }
          }
        }
      }
    },
    {
      "id": "merge-scenes",
      "name": "Merge scene texts",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [1840, 60],
      "parameters": {
        "mode": "append",
        "options": {}
      }
    },
    {
      "id": "build-image-prompt",
      "name": "Build image prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2040, 60],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const src = $('Split beats').item.json;\nconst suffix = $('Init run').first().json.imageSuffix;\n// Accepts both response shapes: local OpenAI-compatible and Anthropic. Any\n// parse failure falls back to the raw beat as the image prompt.\nconst j = $json;\nconst raw = (j.choices && j.choices[0] && j.choices[0].message && j.choices[0].message.content)\n  || (j.content && j.content[0] && j.content[0].text)\n  || '';\nconst clean = raw.replace(/```(?:json)?|```/g, '').trim();\nlet scene;\ntry {\n  const start = clean.indexOf('{');\n  const end = clean.lastIndexOf('}');\n  scene = JSON.parse(clean.slice(start, end + 1));\n} catch (e) { scene = { image_prompt: src.beat, caption: '', dialogue: '' }; }\nconst parts = [];\nif (scene.caption) parts.push(`Caption bar at the bottom of the panel with the text: \"${scene.caption}\"`);\nif (scene.dialogue) parts.push(`A comic speech bubble in the upper area with the text: \"${scene.dialogue}\"`);\nconst prompt = `${scene.image_prompt || src.beat}. ${suffix} ${parts.join(' ')}`.trim();\nreturn { json: { ...src, caption: scene.caption || '', dialogue: scene.dialogue || '', prompt } };"
      }
    },
    {
      "id": "image-fal",
      "name": "Image (fal)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2040, 160],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "parameters": {
        "method": "POST",
        "url": "=https://fal.run/{{ $('Init run').first().json.imageModel }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Key {{ $env.FAL_API_KEY }}" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ prompt: $json.prompt, image_size: $('Init run').first().json.imageSize, num_images: 1, enable_safety_checker: false }) }}",
        "options": {
          "timeout": 180000,
          "batching": {
            "batch": {
              "batchSize": 4,
              "batchInterval": 500
            }
          }
        }
      }
    },
    {
      "id": "download-image",
      "name": "Download image",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2240, 160],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 3000,
      "parameters": {
        "method": "GET",
        "url": "={{ $json.images[0].url }}",
        "options": {
          "timeout": 120000,
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      }
    },
    {
      "id": "write-scene-file",
      "name": "Write scene file",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [2440, 160],
      "parameters": {
        "operation": "write",
        "fileName": "={{ $('Build image prompt').item.json.dir }}/scene_{{ String($('Build image prompt').item.json.index + 1).padStart(2, '0') }}.png",
        "dataPropertyName": "data"
      }
    },
    {
      "id": "collect-scenes",
      "name": "Collect scenes",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2640, 160],
      "parameters": {
        "jsCode": "// All scene files are on disk once this runs; collapse to a single item.\nconst p = $('Parse plot').first().json;\nreturn [{ json: { dir: p.dir, title: p.title, tagline: p.tagline, panel_count: p.panel_count, scenes_written: $input.all().length } }];"
      }
    },
    {
      "id": "music-fal",
      "name": "Music (fal)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1440, 440],
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 5000,
      "parameters": {
        "method": "POST",
        "url": "=https://fal.run/{{ $json.musicModel }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Key {{ $env.FAL_API_KEY }}" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ prompt: $json.musicMood + ', instrumental, no vocals — ' + $json.title + ': ' + $json.tagline, duration: Math.min($json.panel_count * $json.panelSeconds, 380), output_format: 'wav' }) }}",
        "options": {
          "timeout": 300000
        }
      }
    },
    {
      "id": "download-music",
      "name": "Download music",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1640, 440],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 3000,
      "parameters": {
        "method": "GET",
        "url": "={{ $json.audio.url }}",
        "options": {
          "timeout": 120000,
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      }
    },
    {
      "id": "write-music-file",
      "name": "Write music file",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [1840, 440],
      "parameters": {
        "operation": "write",
        "fileName": "={{ $('Parse plot').first().json.dir }}/music.wav",
        "dataPropertyName": "data"
      }
    },
    {
      "id": "wait-for-both",
      "name": "Wait for both",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [2860, 300],
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      }
    },
    {
      "id": "render-reel",
      "name": "Render reel",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [3060, 300],
      "parameters": {
        "command": "=bash /project/scripts/n8n_render_reel.sh '{{ $(\"Parse plot\").first().json.dir }}' {{ $(\"Parse plot\").first().json.panelSeconds }}"
      }
    },
    {
      "id": "parse-render",
      "name": "Parse render",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3260, 300],
      "parameters": {
        "jsCode": "const lines = $json.stdout.trim().split('\\n');\nconst result = JSON.parse(lines[lines.length - 1]);\nif (!result.size || result.size < 1000) throw new Error(`reel missing or too small: ${JSON.stringify(result)}`);\nreturn [{ json: result }];"
      }
    },
    {
      "id": "tiktok-token",
      "name": "TikTok token",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [3460, 300],
      "parameters": {
        "command": "python3 /project/scripts/n8n_tiktok_token.py /project/tiktok_token.json"
      }
    },
    {
      "id": "tiktok-init",
      "name": "TikTok init",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3660, 300],
      "parameters": {
        "method": "POST",
        "url": "https://open.tiktokapis.com/v2/post/publish/inbox/video/init/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $json.stdout.trim() }}" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ source_info: { source: 'FILE_UPLOAD', video_size: $('Parse render').first().json.size, chunk_size: $('Parse render').first().json.size, total_chunk_count: 1 } }) }}",
        "options": {
          "timeout": 60000
        }
      }
    },
    {
      "id": "parse-init",
      "name": "Parse init",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3860, 300],
      "parameters": {
        "jsCode": "const err = $json.error || {};\nif (err.code && err.code !== 'ok') throw new Error(`TikTok init failed: ${err.code} — ${err.message} (log_id ${err.log_id})`);\nif (!$json.data || !$json.data.upload_url) throw new Error(`TikTok init returned no upload_url: ${JSON.stringify($json)}`);\nreturn [{ json: { upload_url: $json.data.upload_url, publish_id: $json.data.publish_id } }];"
      }
    },
    {
      "id": "read-reel",
      "name": "Read reel",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [4060, 300],
      "parameters": {
        "operation": "read",
        "fileSelector": "={{ $('Parse render').first().json.reel }}"
      }
    },
    {
      "id": "upload-to-tiktok",
      "name": "Upload to TikTok",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [4260, 300],
      "parameters": {
        "method": "PUT",
        "url": "={{ $('Parse init').first().json.upload_url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "video/mp4" },
            { "name": "Content-Range", "value": "=bytes 0-{{ $('Parse render').first().json.size - 1 }}/{{ $('Parse render').first().json.size }}" }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "options": {
          "timeout": 600000,
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      }
    },
    {
      "id": "done",
      "name": "Done",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [4460, 300],
      "parameters": {
        "jsCode": "return [{ json: {\n  message: 'Reel uploaded to TikTok drafts — open the TikTok app (Inbox/Notifications) to caption & post.',\n  style: $('Parse plot').first().json.style,\n  mode: $('Parse plot').first().json.mode,\n  title: $('Parse plot').first().json.title,\n  tagline: $('Parse plot').first().json.tagline,\n  idea: $('Parse plot').first().json.idea,\n  publish_id: $('Parse init').first().json.publish_id,\n  reel: $('Parse render').first().json.reel,\n} }];"
      }
    }
  ],
  "connections": {
    "Run with choices": {
      "main": [[{ "node": "Pick style & mode", "type": "main", "index": 0 }]]
    },
    "Daily 19:00": {
      "main": [[{ "node": "Pick style & mode", "type": "main", "index": 0 }]]
    },
    "Pick style & mode": {
      "main": [[{ "node": "Read style file", "type": "main", "index": 0 }]]
    },
    "Read style file": {
      "main": [[{ "node": "Init run", "type": "main", "index": 0 }]]
    },
    "Init run": {
      "main": [[{ "node": "Make run dir", "type": "main", "index": 0 }]]
    },
    "Make run dir": {
      "main": [[{ "node": "Invent idea (local)", "type": "main", "index": 0 }]]
    },
    "Invent idea (local)": {
      "main": [
        [{ "node": "Extract idea", "type": "main", "index": 0 }],
        [{ "node": "Invent idea (Claude)", "type": "main", "index": 0 }]
      ]
    },
    "Invent idea (Claude)": {
      "main": [[{ "node": "Extract idea", "type": "main", "index": 0 }]]
    },
    "Extract idea": {
      "main": [[{ "node": "Plot (local)", "type": "main", "index": 0 }]]
    },
    "Plot (local)": {
      "main": [
        [{ "node": "Try local plot", "type": "main", "index": 0 }],
        [{ "node": "Plot (Claude)", "type": "main", "index": 0 }]
      ]
    },
    "Try local plot": {
      "main": [
        [{ "node": "Parse plot", "type": "main", "index": 0 }],
        [{ "node": "Plot (Claude)", "type": "main", "index": 0 }]
      ]
    },
    "Plot (Claude)": {
      "main": [[{ "node": "Parse plot", "type": "main", "index": 0 }]]
    },
    "Parse plot": {
      "main": [[
        { "node": "Split beats", "type": "main", "index": 0 },
        { "node": "Music (fal)", "type": "main", "index": 0 }
      ]]
    },
    "Split beats": {
      "main": [[{ "node": "Scene text (local)", "type": "main", "index": 0 }]]
    },
    "Scene text (local)": {
      "main": [
        [{ "node": "Merge scene texts", "type": "main", "index": 0 }],
        [{ "node": "Scene text (Claude)", "type": "main", "index": 0 }]
      ]
    },
    "Scene text (Claude)": {
      "main": [[{ "node": "Merge scene texts", "type": "main", "index": 1 }]]
    },
    "Merge scene texts": {
      "main": [[{ "node": "Build image prompt", "type": "main", "index": 0 }]]
    },
    "Build image prompt": {
      "main": [[{ "node": "Image (fal)", "type": "main", "index": 0 }]]
    },
    "Image (fal)": {
      "main": [[{ "node": "Download image", "type": "main", "index": 0 }]]
    },
    "Download image": {
      "main": [[{ "node": "Write scene file", "type": "main", "index": 0 }]]
    },
    "Write scene file": {
      "main": [[{ "node": "Collect scenes", "type": "main", "index": 0 }]]
    },
    "Collect scenes": {
      "main": [[{ "node": "Wait for both", "type": "main", "index": 0 }]]
    },
    "Music (fal)": {
      "main": [[{ "node": "Download music", "type": "main", "index": 0 }]]
    },
    "Download music": {
      "main": [[{ "node": "Write music file", "type": "main", "index": 0 }]]
    },
    "Write music file": {
      "main": [[{ "node": "Wait for both", "type": "main", "index": 1 }]]
    },
    "Wait for both": {
      "main": [[{ "node": "Render reel", "type": "main", "index": 0 }]]
    },
    "Render reel": {
      "main": [[{ "node": "Parse render", "type": "main", "index": 0 }]]
    },
    "Parse render": {
      "main": [[{ "node": "TikTok token", "type": "main", "index": 0 }]]
    },
    "TikTok token": {
      "main": [[{ "node": "TikTok init", "type": "main", "index": 0 }]]
    },
    "TikTok init": {
      "main": [[{ "node": "Parse init", "type": "main", "index": 0 }]]
    },
    "Parse init": {
      "main": [[{ "node": "Read reel", "type": "main", "index": 0 }]]
    },
    "Read reel": {
      "main": [[{ "node": "Upload to TikTok", "type": "main", "index": 0 }]]
    },
    "Upload to TikTok": {
      "main": [[{ "node": "Done", "type": "main", "index": 0 }]]
    }
  },
  "pinData": {}
}
